/* Navbar */
.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
/* Slider */
.carousel-inner {
  max-height: 800px;
}
.carousel-inner img {
  max-height: 600px;
}
/* Courses */
.course-caption-01 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  color: #1d1d1d;
  margin: 130px 300px;
  margin-bottom: 10px;
}
.course-caption-02 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #777777;
  margin-left: 330px;
  margin-right: 325px;
}
/* Ready Section */
.custom-height-width {
  width: 1320px;
  height: 300px;
  background: #289bde;
  border-radius: 5px;
}
.modal-button {
  background-color: white;
  color: #289bde;
  width: 150px;
  height: 56px;
  margin-left: 800px;
}
.ready-sec-text {
  padding-top: 50px;
  padding-left: 50px;
}
/* Explore-Static Section */
.card-text-00 {
  padding-top: 80px;
}
.text-custom-1 {
  margin-left: 384px;
}
.read-more-button {
  background: #289bde;
  border: 1px solid #289bde;
  border-radius: 5px;
}
